/* You can add global styles to this file, and also import other style files */
html,
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#dice-box {
  position: absolute;
  top: 15%;
  right: 20%;
  left: 10%;
  bottom: 10%;
  width: 81%;
  height: 78%;
  background-size: cover;
  z-index: 10;
}

#dice-box canvas {
  position: absolute;
  top: 15%;
  right: 20%;
  left: 10%;
  bottom: 10%;
  width: 81%;
  height: 78%;
}

.dice-box-canvas {
  position: absolute;
  top: 15%;
  right: 20%;
  left: 10%;
  bottom: 10%;
  width: 81%;
  height: 78%;
  background-size: cover;
}

.text-container {
  position: absolute;
  top: 15%;
  right: 20%;
  left: 10%;
  bottom: 10%;
  width: 81%;
  height: 78%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 9;
  color: rgba(182, 255, 246, 0.77);
  font-size: 36px;
  opacity: 40%;
  font-weight: bold;
  text-align: center;
}

.img-container {
  position: absolute;
  padding-top: 50px;
  padding-bottom: 10px;
  width: calc(100%);
  height: calc(100% - 60px);
  background-color: black;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

@media screen and (max-width: 1200px) {
  .text-container {
    font-size: 32px;
  }
}

@media screen and (max-width: 1000px) {
  .text-container {
    font-size: 20px;
  }
}
